
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
	--primary-color: #e7ab3c;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	height: 100%;
	font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar{
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

body{
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

section{
    padding: 3rem 9%;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #e7ab3c;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 30px;
	padding-bottom: 30px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.heading span{
    color: var(--primary-color);
    font-size: 2rem;
}

.heading h1{
    font-size: 4rem;
    color: #000;
}


/*** Button travel ***/

.find-btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--primary-color);
    border: 0.2rem solid var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.find-btn:hover{
    background: var(--primary-color);
    color: #f8f9fc;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


. {
	color: #212529;
	background-color: #D19C97;
	border-color: #D19C97;
  }
  
  .:hover {
	color: #fff;
	background-color: #c5837c;
	border-color: #c17a74;
  }
  
  .:focus, ..focus {
	color: #fff;
	background-color: #c5837c;
	border-color: #c17a74;
	box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
  }
  
  ..disabled, .:disabled {
	color: #212529;
	background-color: #D19C97;
	border-color: #D19C97;
  }
  
  .:not(:disabled):not(.disabled):active, .:not(:disabled):not(.disabled).active,
  .show > ..dropdown-toggle {
	color: #fff;
	background-color: #c17a74;
	border-color: #bd726b;
  }
  
  .:not(:disabled):not(.disabled):active:focus, .:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
  }

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}


/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*---------------------
  Header
-----------------------*/
.header-section{
	
}

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}

.header-top .ht-left {
	float: left;
}

.header-top .ht-left .mail-service {
	font-size: 16px;
	color: #252525;
	float: left;
	border-right: 1px solid #E5E5E5;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
}

.header-top .ht-left .mail-service i {
	margin-right: 5px;
}

.header-top .ht-left .phone-service {
	float: right;
	font-size: 14px;
	color: #252525;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-left: 20px;
}

.header-top .ht-left .phone-service i {
	margin-right: 5px;
}

.header-top .ht-right {
	float: right;
}

.header-top .ht-right .login-panel {
	float: right;
	font-size: 14px;
	color: #252525;
	display: inline-block;
	padding-left: 20px;
	border-left: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 15px;
}

.header-top .ht-right .login-panel i {
	margin-right: 8px;
}

.header-top .ht-right .top-social {
	float: right;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-right: 1px solid #e5e5e5;
}

.header-top .ht-right .top-social a {
	color: #252525;
	font-size: 14px;
	display: inline-block;
	margin-left: 15px;
}

.inner-header {
	padding: 39px 0;
}

.inner-header .logo {
	padding: 0 0;
}

.inner-header .logo a {
	display: inline-block;
}

.inner-header .advanced-search {
	height: 50px;
	border: 1px solid #ebebeb;
}

.inner-header .advanced-search .category-btn {
	max-width: 30%;
	float: left;
	background: transparent;
	border: none;
	padding-left: 23px;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-right: 60px;
	font-size: 16px;
	color: #252525;
	position: relative;
}

.inner-header .advanced-search .category-btn:before {
	position: absolute;
	right: 0;
	top: 14px;
	width: 1px;
	height: 20px;
	background: #e5e5e5;
	content: "";
}

.inner-header .advanced-search .category-btn:after {
	position: absolute;
	right: 11px;
	top: 10px;
	content: "3";
	font-family: "ElegantIcons";
	font-size: 16px;
	color: #b2b2b2;
}

.inner-header .advanced-search .input-group {
	max-width: 73.5%;
	height: 100%;
}

.inner-header .advanced-search .input-group input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 16px;
	color: #d1d1d1;
	padding-left: 20px;
}

.inner-header .advanced-search .input-group button {
	font-size: 16px;
	color: #ffffff;
	position: absolute;
	right: -3px;
	top: -1px;
	border: 1px solid #e7ab3c;
	background: #e7ab3c;
	padding: 12px 16px 12px;
	cursor: pointer;
}

.nav-item {
	background: #252525;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-item .nav-depart {
	float: left;
}

.nav-item .nav-depart .depart-btn {
	background: #3b3b3b;
	color: #ffffff;
	padding: 14px 84px 14px 18px;
	cursor: pointer;
	position: relative;
}

.nav-item .nav-depart .depart-btn:hover .depart-hover {
	top: 52px;
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.nav-item .nav-depart .depart-btn:before {
	position: absolute;
	color: #ffffff;
	right: 20px;
	top: 13px;
	content: "";
	font-family: FontAwesome;
	font-size: 18px;
}

.nav-item .nav-depart .depart-btn i {
	color: #ffffff;
	font-size: 16px;
}

.nav-item .nav-depart .depart-btn span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 16px;
}

.nav-item .nav-depart .depart-btn .depart-hover {
	position: absolute;
	width: 100%;
	background: #fff;
	left: 0;
	top: 62px;
	opacity: 0;
	visibility: hidden;
	padding-bottom: 29px;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li {
	list-style: none;
}

.nav-item .nav-depart .depart-btn .depart-hover li.active a {
	color: #e7ab3c;
}

.nav-item .nav-depart .depart-btn .depart-hover li a {
	display: block;
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-top: 16px;
	padding-right: 30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li a:hover {
	color: #e7ab3c;
}

.nav-item .nav-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
}

.nav-item .nav-menu li.active a {
	background: #e7ab3c;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	border-right: 2px solid #3b3b3b;
	text-transform: uppercase;
	padding: 16px 50px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li:hover>a {
	background: #e7ab3c;
}

.slicknav_menu {
	display: none;
}

/*-------------------------------- Other Pages Style -------------------------------*/

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-text {
	border-bottom: 1px solid #ebebeb;
	padding: 15px 0;
}

.breadcrumb-text.product-more a:nth-child(1):after {
	color: #252525;
}

.breadcrumb-text a {
	display: inline-block;
	font-size: 16px;
	color: #252525;
	margin-right: 28px;
	position: relative;
}

.breadcrumb-text a:after {
	position: absolute;
	right: -18px;
	top: 0px;
	content: "";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #b2b2b2;
}

.breadcrumb-text span {
	display: inline-block;
	color: #b2b2b2;
	font-size: 1.4rem;
}

/*---------------------
  		Home
-----------------------*/
.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	position: relative;
	z-index: 0;
}

.home .content{
	text-align: center;
}

.home .content h3{
	font-size: 4.5rem;
	color: var(--primary-color);
	text-transform: uppercase;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p{
	font-size: 2.5rem;
	color: var(--primary-color);
	padding: .5rem 0;
}

.home .image-container img{
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
	height: 50%;
	width: 50%;
	object-fit: cover;
}

.home .controls{
	padding: 1rem;
	border-radius: 5rem;
	background: rgba(0, 0, 0, .7);
	position: relative;
	top: 10rem;
}

.home .controls .vid-btn{
	height: 2rem;
	width: 2rem;
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	margin: 0 .5rem;
}

.home .controls .vid-btn.active{
	background: #ffa500;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-items .single-hero-items {
	margin: 0 auto;
	margin-top: 50px;
	height: 300px;
	width: 95%;
	object-fit: cover;
}

.hero-items .single-hero-items h3{
	color: #fff;
	padding-left: 5px;
	font-size: 3.5rem;
}

.hero-items .single-hero-items .mg-left{
	margin-left: 30px;
}

.hero-items .owl-nav button[type=button] {
	font-size: 50px;
	position: absolute;
	left: -50px;
	top: 50%;
	color: #151313;
	
}

.hero-items .owl-nav button[type=button]:hover {
	color: #dfad51;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: -50px;
}

/*---------------------
  		About
-----------------------*/

.about{
	margin-top: 100px;
}

.about .heading-about{
	color: #000;
	display: block;
	font-size: 37px;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0;
	position: relative;
}

.about .heading-about::before{
	content: '';
	position: absolute;
	top: 44px;
	left: 134px;
	width: 80px;
	background-color: var(--primary-color);
	height: 3px;
	width: 149px;
}

.about .heading-about::after{
	content: '';
	position: absolute;
	top: 44px;
	right: 134px;
	width: 80px;
	background-color: var(--primary-color);
	height: 3px;
	width: 149px;
}

.about .para-about{
	display: block;
	color: #0e0f10;
	font-size: 16px;
	line-height: 35px;
	margin-bottom: 0px;
	text-align: center;
	/* max-width: 1000px;
	margin: auto; */
}

.about-us-content{
	margin-top: 50px;
}

.img-about{
	width: 100%;
	height: 100%;
}

.image-content{
	width: 100%;
	height: 100% !important;
}

.heading-content{
	font-size: 34px;
	font-weight: 700;
	text-align: center;
	color: var(--primary-color);
	padding: 10px 20px;
}

.para-content-about{
	font-size: 15px;
	text-align: justify;
	line-height: 26px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.74);
}

/*---------------------
  Content-introduce
-----------------------*/

.content-introduce {
	padding-top: 100px;
}

.content-introduce .detail-introduce p {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 40px;
	text-align: justify;
}

/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {

}
.latest-blog .latest-blog__popular{
	padding-top: 50px;
}
.latest-blog .section-title {
	margin-bottom: 55px;
}

.latest-blog .section-title h2{
	font-weight: 400;
	font-size: 5rem;
	color: var(--primary-color);
}

.single-latest-blog {
	margin-bottom: 25px;
}

.single-latest-blog img {
	min-width: 100%;
}

.single-latest-blog a h4{
	font-size: 2rem;
}

.single-latest-blog .latest-text {
	padding-top: 25px;
}

.single-latest-blog .latest-text .tag-list {
	margin-bottom: 8px;
}

.single-latest-blog .latest-text .tag-list .tag-item {
	font-size: 16px;
	color: #a2a1a1;
	display: inline-block;
	margin-right: 15px;
}

.single-latest-blog .latest-text .tag-list .tag-item i {
	color: #e7ab3c;
}

.single-latest-blog .latest-text a {
	display: block;
}

.single-latest-blog .latest-text a h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

/*---------------------
  Food Menu
-----------------------*/

.sidebar {
	background: #1b1b1b;
	color: white;
	
}

.sidebar .text{
	color: white;
	font-size: 25px;
	font-weight: 600;
	line-height: 65px;
	text-align: center;
	background: #1e1e1e;
	letter-spacing: 1px;
}

.sidebar ul {
	background: #1b1b1b;
	height: 100%;
	width: 100%;
	list-style: none;
}

.sidebar ul li {
	line-height: 60px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-left: 40px;
	font-weight: 500;
	display: block;
	width: 100%;
	border-left: 3px solid transparent;
}

.sidebar ul li.active a{
	color: var(--primary-color);
	background: #1e1e1e;
	border-left-color: var(--primary-color);
}

.sidebar ul ul {
	position: static;
	display: none;
}

.sidebar ul .feat-show.show{
	display: block;
}

.sidebar ul .serv-show.show{
	display: block;
}

.sidebar ul ul li{
	line-height: 42px;
	border-bottom: none;
}

.sidebar ul ul li a {
	font-size: 17px;
	color: #e6e6e6;
	padding-left: 80px;
}

.sidebar ul li.active ul li a{
	color: #e6e6e6;
	background: #1b1b1b;
	border-left-color: transparent;
}

.sidebar ul ul li a:hover{
	color: var(--primary-color)!important;
	background: #1e1e1e!important;
}

.sidebar ul li a span{
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 22px;
	transition: transform 0.4s;
}

.sidebar ul li a span.rotate{
	transform: translateY(-50%) rotate(-180deg);
}
.food-menu {
	background-color: #f5f5f5;
}

.section-title h2, .section-title h2 span{
	color: var(--primary-color);
	font-size: 4rem;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #2C3E50;
}

.section-title h2 span{
	color: var(--primary-color);
}


.food-featured-img img{
	width: 100%;
}

.food-featured-intro{
	text-align: justify;
	margin: 30px 0 100px 0;
}

.food-featured-intro p{
	font-size: 1.8rem;
}

.food-item{
	margin-bottom: 20px;
	display: block;
	background-color: #fff;
}
.food-item__name, .food-item__address{
	line-height: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.food-item .food-item__name {
	margin: 10px 10px;
	font-size: 1.5rem;
	font-weight: 500;
}

.food-item__address {
	margin: 10px 10px;
	font-weight: 300;
	font-size: 14px;
	color: #777;
}
.food-item__tag {
	display: flex;
	margin: 0 10px;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 40px;
}
.food-item__tag span {
	color: red;
	margin-right: 10px;
	font-size: 1.5rem;
}

.food-item__tag h5{
	font-size: 1.5rem;
}


/*---------------------
  Foot Details
-----------------------*/
.food-menu.page-details {
	padding-bottom: 60px;
	background-color: white;
}

.food-detail-img img{
	display: block;
	width: 100%;
}

.food-details .fd-title {
	position: relative;
	margin-bottom: 6px;
}

.food-details .fd-title span {
	display: block;
	font-size: 2.5rem;
	color: #b2b2b2;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	line-height: 23px;
}

.food-details .fd-title h3 {
	color: #252525;
	font-weight: 700;
	font-size: 2rem;
	margin-top: 10px;
}

.food-details .fd-title .heart-icon {
	color: #252525;
	font-size: 18px;
	position: absolute;
	right: 0;
	top: 0;
}

.food-details .fd-rating {
	margin-bottom: 10px;
}

.food-details .fd-rating i {
	font-size: 15px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.food-details .fd-rating span {
	font-size: 1.4rem;
	color: #999591;
}

.food-details .fd-clock .fd-clock__status {
	color: var(--primary-color);
}

.fd-address, .fd-clock, .fd-price{
	padding: 5px 0;
	font-weight: 400;
	font-size: 1.6rem;
}

.food-details .fd-price {
	margin-bottom: 20px;
}


.food-tab {
	padding-top: 60px;
}

.tab-item ul li:nth-child(1) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li:nth-child(2) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li:nth-child(3) a {
	border-right: 1px solid #ebebeb;
}

.tab-item ul li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: #b2b2b2;
	text-transform: uppercase;
	padding: 18px 61px;
	position: relative;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.tab-item ul li a.active {
	color: #252525;
}

.tab-item ul li a.active:before {
	opacity: 1;
}

.tab-item ul li a::before {
	position: absolute;
	left: 0;
	top: -1px;
	width: 100%;
	height: 5px;
	background: #e7ab3c;
	content: "";
	opacity: 0;
}

.food-content {
	width: 100%;
	padding: 70px 0;
}

.food-content .heading h1{
	font-size: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.food-content .heading h1 span{
	color: var(--primary-color);
	margin-left: 15px;
	font-family: mv boli;
}

.food-content .heading h1 span::after{
	content: '';
	width: 100%;
	height: 2px;
	background: var(--primary-color);
	display: block;
	position: relative;
	bottom: 15px;
}

.food-content .menu-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 1.5rem;
	align-items: center;
}

.food-content .menu-container .box{
	position: relative;
	margin-top: 4rem;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #111111;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 0.5rem;
}

.food-content .menu-container .box h2{
	font-size: 1.3rem;
	color: #ffffff;
}

.food-content .menu-container .box span{
	font-size: 1.3rem;
	color: var(--primary-color);
	font-weight: 600;
}

.specification-table {
	padding-top: 52px;
}

.specification-table table {
	width: 100%;
}

.specification-table table tr td {
	border: 1px solid #EFF0F2;
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
}

.specification-table table tr td.p-catagory {
	width: 310px;
	text-align: left;
	padding-left: 34px;
	font-size: 16px;
	color: #4c4c4c;
	font-weight: 700;
	text-transform: uppercase;
}

.specification-table table tr td .pd-rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.specification-table table tr td .pd-rating span {
	font-size: 12px;
	color: #999591;
}

.specification-table table tr td .p-price {
	color: #e7ab3c;
	font-size: 16px;
	font-weight: 700;
}

.specification-table table tr td .cart-add {
	font-size: 16px;
	color: #252525;
	font-weight: 700;
	text-transform: uppercase;
}

.specification-table table tr td .p-stock,
.specification-table table tr td .p-size,
.specification-table table tr td .p-code {
	font-size: 16px;
	color: #4c4c4c;
	font-weight: 700;
}

.specification-table table tr td .p-weight {
	font-size: 14px;
	color: #4c4c4c;
	font-weight: 700;
}

.specification-table table tr td .p-size {
	text-transform: uppercase;
}

.specification-table table tr td .cs-color {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #252525;
	border-radius: 50%;
}

.customer-review-option {
	padding-top: 55px;
}

.customer-review-option h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
	font-size: 2.5rem;
}

.customer-review-option .comment-option .co-item {
	margin-bottom: 20px;
}

.customer-review-option .comment-option .co-item .avatar-pic {
	float: left;
	margin-right: 20px;
}

.customer-review-option .comment-option .co-item .avatar-pic img {
	height: 63px;
	width: 63px;
	border-radius: 50%;
}

.customer-review-option .comment-option .co-item .avatar-text {
	display: table;
}

.customer-review-option .comment-option .co-item .avatar-text .at-rating {
	line-height: 9px;

}

.customer-review-option .comment-option .co-item .avatar-text .at-rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
	font-size: 1.8rem;
}

.customer-review-option .comment-option .co-item .avatar-text h5 {
	color: #252525;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2rem;
}

.customer-review-option .comment-option .co-item .avatar-text h5 span {
	color: #b2b2b2;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 22px;
	position: relative;

}

.customer-review-option .comment-option .co-item .avatar-text h5 span:before {
	position: absolute;
	left: -18px;
	top: -5px;
	content: "-";
	font-size: 18px;
	color: #b2b2b2;
}

.customer-review-option .comment-option .co-item .avatar-text .at-reply {
	font-size: 1.8rem;
	color: #636363;
}

.customer-review-option .personal-rating {
	margin-bottom: 50px;
	padding-top: 10px;
}

.customer-review-option .personal-rating h6 {
	color: #252525;
}

.customer-review-option .personal-rating .rating i {
	font-size: 12px;
	display: inline-block;
	color: #FAC451;
	margin-right: -3px;
}

.customer-review-option .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
}

.customer-review-option .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.customer-review-option .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 116px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 45px;
}


.product-slider .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: -62px;
	top: 25%;
	color: #171717;
	opacity: 0.3;
}

.product-slider .owl-nav button[type=button].owl-next {
	left: auto;
	right: -62px;
	color: #171717;
	opacity: 1;
}

.product-slider .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.product-slider .owl-dots button {
	width: 6px;
	height: 6px;
	background: #D8D9DA;
	border-radius: 50%;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.product-slider .owl-dots button:last-child {
	margin-right: 0;
}

.product-slider .owl-dots button.active {
	width: 30px;
	background: #252525;
	border-radius: 50px;
}


/* -------------Travel------------------- */

/* home */

.travel-home{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    border-radius: 1rem;
    background: -webkit-gradient(linear, left, top, left bottom, from(rgba(17, 17, 17, 0.7)), 
    to(rgba(17, 17, 17, 0.7))), url(../img//travel//home-bg.jpg) no-repeat;
    background: linear-gradient(rgba(17,17,17,0.7), rgba(17,17,17,0.7)), url(../img//travel//home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.travel-home .content{
    text-align: center;
}

.travel-home .content span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    font-size: 4vw;
    display: block;   
}

.travel-home .content h3{
    font-size: 6vw;
    color: #fff;
}

.travel-home .content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #f8f9fc;
    line-height: 2;
    letter-spacing: 1px;
}

/* service */

.travel-services .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-column: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.travel-services .box-container .box{
    background: #fff;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.travel-services .box-container .box:hover{
    transform: scale(1.05);
    background: #fff;
}

.travel-services .box-container .box i{
    font-size: 4rem;
    color:var(--primary-color); 
    margin-bottom: 2rem;
}

.travel-services .box-container .box h3{
    font-size: 2rem;
    color: #000;
}

.travel-services .box-container .box p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

/* destination */

.travel-destination .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(27rem, 1fr))auto[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.travel-destination .box-container .box{
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.travel-destination .box-container .box:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.travel-destination .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    width: 100%;
}

.travel-destination .box-container .box .image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.travel-destination .box-container .box .content{
    padding: 2rem;
    color: #000;
}

.travel-destination .box-container .box .content p{
    padding: 1rem 0;
    font-size: 2rem;
    color: #3d3d3d;
    line-height: 2;
}

.travel-destination .box-container .box .content a{
    font-size: 1.7rem;
    color: var(--primary-color);
}

.travel-destination .box-container .box .content a:hover i{
    padding-left: 1rem;
}

.travel-destination .box-container .box .content a i{
    padding-right: .5rem;
}

/* review */

.travel-review{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.travel-review .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.travel-review .content span{
    font-size: 2rem;
    color: var(--primary-color);
}

.travel-review .content h3{
    font-size: 4rem;
    color:#000
}

.travel-review .content p{
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    line-height: 2;
    letter-spacing: 1px;
}

.travel-review .box-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.travel-review .box-container .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.travel-review .box-container .box p{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color: #3d3d3d;
}

.travel-review .box-container .box .user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.travel-review .box-container .box .user img{
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.travel-review .box-container .box .user h3{
    font-size: 1.7rem;
    color: #000;
}

.travel-review .box-container .box .user p{
    font-size: 1.5rem;
    color: #3d3d3d;
}

/*** Section Title ***/
.travel-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
	color: var(--primary-color);
}

.travel-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary-color);
    z-index: -1;
}

.travel-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary-color);
    z-index: -1;
}

.travel-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.travel-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/* ----------------------Tour travel------------------------- */

/* Find form */

.find-form{
	width: 80%;
	margin: 5rem auto;
	border-radius: 1rem;
	-webkit-box-shadow: 0 0.5rem rgba(17,17,17,0.3);
	box-shadow: 0 0.5rem rgba(17,17,17,0.3);
	padding: 3rem 2rem;
}

.find-form form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 1.5rem;
} 

.find-form form .inputBox{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 25rem;
	flex: 1 1 25rem;
}

.find-form form .inputBox span{
	font-size: 1.6rem;
}

.find-form form .inputBox input{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: 5rem;
	border: 0.2rem solid var(--primary-color);
	font-size: 1.6rem;
	text-transform: capitalize;
	background: none;
	margin-top: 1rem;
}

.find-form form .find-btn{
	-webkit-box-flex: 1;
	-ms-flex: 1 1 15rem;
	flex: 1 1 15rem;
}

/*** Package ***/
.travel-tour h6{
	font-size: 2rem;
}

.travel-tour h1{
	font-size: 4rem;
	font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #2C3E50;
}
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item .package-heading small{
	font-size: 1.4rem;
	color: #3b3b3b;
	border-right: 1px solid #E5E5E5;
}

.package-item .package-heading small i{
	color: var(--primary-color);
	margin-right: 5px;
}

.package-item .travel-price h3{
	font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.package-item .travel-price small{
	font-size: 1.5rem;
	color: var(--primary-color);
}

.package-item .travel-price .travel-button a{
	font-size: 1.6rem;
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}

/* Loading more */

.loading-more{
	display: flex;
	justify-content: center;
}

.loading-more a{
	margin-top: 2rem;
}

/*** Booking ***/

.booking .heading-title{
	text-align: center;
	font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
	color: #111111;
}

.booking .book-form{
	padding: 2rem;
	background: #eee;
}

.booking .book-form .flex{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.booking .book-form .flex .inputBox{
	flex: 1 1 41rem;
}

.booking .book-form .flex .inputBox input{
	width: 100%;
	padding: 1.2rem 1.4rem;
	color: #777;
	font-size: 1.6rem;
	text-transform: none;
	margin-top: 1.5rem;
	border: .1rem solid #222;
}

.booking .book-form .flex .inputBox input:focus{
	background: #222;
	color: #fff;
}

.booking .book-form .flex .inputBox input:focus::placeholder{
	color: #fff9;
}


.booking .book-form .flex .inputBox span{
	font-size: 1.5rem;
	color: #777;
}

.booking .book-form .primary-btn{
	margin-top: 10px;
	border: .1rem solid var(--primary-color);
}

/* Destination Travel Detail */
.destination-detail .destination-introduce h1{
	font-size: 4rem;
	font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
	color: #2C3E50;
}

.destination-detail .destination-introduce h1 span{
	color: var(--primary-color);
}

.destination-introduce .destination-service p i{
	color: var(--primary-color);
	margin-right: 5px;
}

.destination-introduce .destination-status span{ 
	font-size: 1.6rem;
	color: #636363;
    font-weight: 400;
    line-height: 26px;
	margin-right: 5px;
}

.destination-introduce .destination-status span:first-child{
	color: var(--primary-color);
}

.destination-introduce .destination-status span:nth-child(2){
	color: var(--primary-color);
}

.travel-des__intro .travel-title{
	font-size: 2.5rem;
}


.travel-des__text p{
	margin-top: 20px;
	font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: justify;
}

/* gallery */
.gallery .heading .travel-title{
	font-size: 2.5rem;
}

.gallery .heading .travel-title span{
	font-size: 2.5rem;
}

.gallery .box-container{
	-webkit-columns: 3 25rem;
	columns: 3 25rem;
	-webkit-column-gap: 1.5rem;
	column-gap: 1.5rem;
}

.gallery .box-container .box{
	margin-bottom: 1rem;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

.gallery .box-container .box img{
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.gallery .box-container .box h3{
	font-size: 1.8rem;
	font-weight: 700;
}

/* Hotel */

.hotel .box-container{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.hotel .box-container .box{
	flex: 1 1 30rem;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.hotel .box-container .box img{
	height: 25rem;
	width: 100%;
	object-fit: cover;
}

.hotel .box-container .box .travel-hotel{
	padding: 2rem;
}

.hotel .box-container .box .travel-hotel h2{
	font-size: 2.5rem;
	color: #333;
	font-weight: 400;
}
.hotel .box-container .box .travel-hotel h3{
	font-size: 1.8rem;
	color: #636363;
	font-weight: 400;
	line-height: 2.5rem;
	padding: 5px 0;
}

.hotel .box-container .box .travel-hotel h3 i{
	color: var(--primary-color);
}

.hotel .box-container .box .travel-hotel .stars{
	font-size: 2rem;
	color: var(--primary-color);
}

.hotel .box-container .box .travel-hotel p{
	text-align: justify;
	margin-top: 5px;
}

.hotel .box-container .box .travel-hotel .price{
	font-size: 2rem;
	color: var(--primary-color);
}

.hotel .box-container .box .travel-hotel .price span{
	color: #636363;
	font-size: 1.5rem;
}

/*---------------------
  Blog Section
-----------------------*/

.blog-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.blog-section .loading-more {
	padding-top: 0;
}

.blog-sidebar .search-form {
	margin-bottom: 55px;
}

.blog-sidebar .search-form h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 12px;
	font-size: 2rem;
}

.blog-sidebar .search-form form {
	position: relative;
}

.blog-sidebar .search-form form input {
	height: 46px;
	width: 100%;
	border: 2px solid #ECECEC;
	padding-left: 20px;
	font-size: 18px;
	color: #b2b2b2;
}

.blog-sidebar .search-form form button {
	position: absolute;
	right: 0;
	top: 0;
	color: #ffffff;
	background: #252525;
	border: 1px solid #252525;
	height: 46px;
	padding: 0 15px;
	cursor: pointer;
	font-size: 1.5rem;
}

.blog-sidebar .blog-catagory {
	margin-bottom: 41px;
}

.blog-sidebar .blog-catagory h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 14px;
	font-size: 2rem;
}

.blog-sidebar .blog-catagory ul li {
	list-style: none;
}

.blog-sidebar .blog-catagory ul li a {
	font-size: 16px;
	color: #636363;
	line-height: 39px;
}

.blog-sidebar .recent-post {
	margin-bottom: 55px;
}

.blog-sidebar .recent-post h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 28px;
	font-size: 2rem;
}

.blog-sidebar .recent-post .recent-blog .rb-item {
	overflow: hidden;
	margin-bottom: 30px;
	display: block;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic {
	float: left;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic img {
	height: 80px;
	width: 80px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text {
	display: table;
	padding-left: 16px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text h6 {
	color: #252525;
	line-height: 2.5rem;
	height: 5rem;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-weight: 700;
	margin-bottom: 10px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p span {
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}


.blog-sidebar .blog-tags h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 20px;
}

.blog-sidebar .blog-tags .tag-item a {
	display: inline-block;
	font-size: 16px;
	color: #636363;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	margin-right: 5px;
	margin-bottom: 9px;
	border-radius: 2px;
}

.blog-item {
	margin-bottom: 42px;
}

.blog-item .bi-pic img {
	min-width: 100%;

}

.blog-item .bi-text {
	padding-top: 24px;
}

.blog-item .bi-text h4 {
	color: #252525;
	font-weight: 700;
	line-height: 3rem;
	height: 6rem;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	margin-bottom: 16px;
	font-size: 2.5rem;
}

.blog-item .bi-text p {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
}

.blog-item .bi-text p span {
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}


.blogs .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.blogs .box-container .box{
    border-radius: 1rem;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 1.5rem 1rem;
    overflow: hidden;
}

.blogs .box-container .box:hover{
    transform: scale(1.05);
}

.blogs .box-container .box:hover .image img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding: 2rem;
}

.blogs .box-container .box .content .link{
    font-size: 2rem;
    color: #000;
}

.blogs .box-container .box .content .link:hover{
    color: var(--primary-color);
}

.blogs .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
}

.blogs .box-container .box .content .icon{
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon span{
    font-size: 1.4rem;
    color: #3d3d3d;
}


.blogs .box-container .box .content .icon span:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.blogs .box-container .box .content .icon span i{
    padding-right: .5rem;
    color: var(--primary-color);
}



/*---------------------
  Blog Details
-----------------------*/

.blog-details {
	padding-top: 72px;
	padding-bottom: 80px;
}

.blog-details-inner .blog-detail-title {
	text-align: center;
	margin-bottom: 25px;
}

.blog-details-inner .blog-detail-title h2 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 15px;
}

.blog-details-inner .blog-detail-title p {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
	display: inline-block;
	position: relative;
}

.blog-details-inner .blog-detail-title p:before {
	position: absolute;
	left: -175px;
	top: 8px;
	height: 1px;
	width: 125px;
	background: #ebebeb;
	content: "";
}

.blog-details-inner .blog-detail-title p:after {
	position: absolute;
	right: -175px;
	top: 7px;
	height: 1px;
	width: 125px;
	background: #ebebeb;
	content: "";
}

.blog-details-inner .blog-detail-title p span {
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

.blog-details-inner .blog-large-pic img {
	min-width: 100%;
}

.blog-details-inner .blog-detail-desc {
	margin-top: 22px;
	margin-bottom: 32px;
}

.blog-details-inner .blog-detail-desc p {
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
}

.blog-details-inner .blog-detail-desc p:first-of-type:first-letter {
	float: left;
	font-size: 60px;
	text-transform: uppercase;
	color: #252525;
	margin-top: 14px;
	margin-right: 10px;
}

.blog-details-inner .blog-quote {
	margin-bottom: 65px;
}

.blog-details-inner .blog-quote p {
	position: relative;
	color: #252525;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 32px;
}

.blog-details-inner .blog-quote p span {
	color: #161715;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.blog-details-inner .blog-quote p:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 88px;
	width: 3px;
	background: #e7ab3c;
	content: "";
}

.blog-details-inner .blog-more {
	margin-bottom: 32px;
}

.blog-details-inner .blog-more img {
	min-width: 100%;
}

.blog-details-inner p {
	font-size: 18px;
	line-height: 30px;
}

.blog-details-inner .tag-share {
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 54px;
	margin-top: 46px;
}

.blog-details-inner .tag-share .details-tag {
	float: left;
}

.blog-details-inner .tag-share .details-tag ul li {
	list-style: none;
	display: inline-block;
	color: #171717;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 16px;
}

.blog-details-inner .tag-share .details-tag ul li i {
	font-size: 18px;
	color: #e7ab3c;
}

.blog-details-inner .tag-share .blog-share {
	float: right;
}

.blog-details-inner .tag-share .blog-share .social-links {
	display: inline-block;
}

.blog-details-inner .tag-share .blog-share .social-links a {
	display: inline-block;
	color: #171717;
	margin-left: 25px;
	font-size: 2rem;
}

.blog-details-inner .tag-share .blog-share span {
	font-size: 16px;
	color: #2d292f;
}

.blog-details-inner .blog-post {
	padding-top: 72px;
	margin-bottom: 58px;
}

.blog-details-inner .blog-post .prev-blog {
	display: block;
}

.blog-details-inner .blog-post .prev-blog .pb-pic {
	float: left;
	position: relative;
	margin-top: 7px;
}

.blog-details-inner .blog-post .prev-blog .pb-pic i {
	position: absolute;
	left: -32px;
	top: 35%;
	font-size: 18px;
	color: #b2b2b2;
}

.blog-details-inner .blog-post .prev-blog .pb-pic img {
	height: 70px;
	width: 70px;
}

.blog-details-inner .blog-post .prev-blog .pb-text {
	display: table;
	padding-left: 20px;
}

.blog-details-inner .blog-post .prev-blog .pb-text span {
	font-size: 14px;
	color: #b2b2b2;
	letter-spacing: 2px;
}

.blog-details-inner .blog-post .prev-blog .pb-text h5 {
	font-size: 20px;
	color: #252525;
	line-height: 26px;
	font-weight: 700;
	margin-top: 10px;
}

.blog-details-inner .blog-post .next-blog {
	display: block;
}

.blog-details-inner .blog-post .next-blog .nb-pic {
	float: right;
	position: relative;
	margin-top: 7px;
}

.blog-details-inner .blog-post .next-blog .nb-pic i {
	position: absolute;
	right: -28px;
	top: 35%;
	font-size: 18px;
	color: #b2b2b2;
}

.blog-details-inner .blog-post .next-blog .nb-pic img {
	height: 70px;
	width: 70px;
	margin-left: 20px;
}

.blog-details-inner .blog-post .next-blog .nb-text {
	display: block;
	text-align: right;
}

.blog-details-inner .blog-post .next-blog .nb-text span {
	font-size: 14px;
	color: #b2b2b2;
	letter-spacing: 2px;
}

.blog-details-inner .blog-post .next-blog .nb-text h5 {
	font-size: 20px;
	color: #252525;
	line-height: 26px;
	font-weight: 700;
	margin-top: 10px;
}

.blog-details-inner .posted-by {
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 40px 65px;
}

.blog-details-inner .posted-by .pb-pic {
	float: left;
}

.blog-details-inner .posted-by .pb-text {
	padding-left: 22px;
	display: table;
}

.blog-details-inner .posted-by .pb-text a {
	display: block;
}

.blog-details-inner .posted-by .pb-text a h5 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 13px;
}

.blog-details-inner .posted-by .pb-text p {
	line-height: 30px;
	margin-bottom: 0;
}

.blog-details-inner .leave-comment {
	padding-top: 55px;
}

.blog-details-inner .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
	font-size: 2rem;
}

.blog-details-inner .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.blog-details-inner .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 116px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 45px;
}

/* Rating */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


/*---------------------
  Map
-----------------------*/

.map {
	padding-top: 80px;
	padding-bottom: 0;
}

.map-inner {
	height: 610px;
	position: relative;
}

.map-inner iframe {
	width: 100%;
}

.map-inner .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-14px, -21px);
	-ms-transform: translate(-14px, -21px);
	transform: translate(-14px, -21px);
}

.map-inner .icon i {
	font-size: 48px;
	color: #e7ab3c;
}

/*---------------------
  Contact Section
-----------------------*/

.contact-section {
	padding-top: 75px;
	padding-bottom: 80px;
}

.contact-title {
	margin-bottom: 30px;
}

.contact-title h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 16px;
}

.contact-widget .cw-item {
	background: #ffffff;
	margin-bottom: 11px;
	-webkit-box-shadow: 0px 8px 35px 10px #E8E8E8;
	box-shadow: 0px 8px 35px 10px #E8E8E8;
	padding-left: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.contact-widget .cw-item .ci-icon {
	float: left;
	margin-top: 12px;
}

.contact-widget .cw-item .ci-icon i {
	font-size: 30px;
	color: #b2b2b2;
}

.contact-widget .cw-item .ci-text {
	display: table;
	padding-left: 30px;
}

.contact-widget .cw-item .ci-text span {
	color: #b2b2b2;
	font-size: 16px;
}

.contact-widget .cw-item .ci-text p {
	font-size: 18px;
	color: #252525;
	margin-bottom: 0;
}

.contact-form .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 20px;
}

.contact-form .leave-comment p {
	margin-bottom: 38px;
}

.contact-form .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.contact-form .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 150px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 35px;
}

.contact-form .leave-comment .comment-form .site-btn {
	padding: 13px 35px 11px;
}

/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #191919;
	padding-top: 75px;
}

.footer-left {
	margin-bottom: 30px;
}

.footer-left .footer-logo {
	margin-bottom: 24px;
}

.footer-left .footer-logo a {
	display: inline-block;
}

.footer-left ul li {
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
}

.footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #434445;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 7px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a:hover:before {
	opacity: 1;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #e7ab3c;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 26px;
}

.footer-widget ul li {
	list-style: none;
}

.footer-widget ul li a {
	line-height: 36px;
	font-size: 16px;
	color: #b2b2b2;
}

.newslatter-item h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 30px;
}

.newslatter-item p {
	color: #b2b2b2;
	line-height: 26px;
}

.newslatter-item .subscribe-form {
	position: relative;
}

.newslatter-item .subscribe-form input {
	color: #b2b2b2;
	background: #303030;
	width: 100%;
	height: 46px;
	font-size: 16px;
	border: none;
	padding-left: 20px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
	display: inline-block;
	color: #ffffff;
	background: #e7ab3c;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #e7ab3c;
	position: absolute;
	right: 0;
	top: 0;
	padding: 13px 20px 12px;
	cursor: pointer;
}

.copyright-reserved {
	border-top: 1px solid #303030;
	padding: 15px 0;
	margin-top: 45px;
}

.copyright-reserved .copyright-text {
	text-align: center;
	font-size: 16px;
	color: #b2b2b2;
}

.copyright-reserved .copyright-text a {
	color: #b2b2b2;
}

.copyright-reserved .copyright-text i {
	color: #cc2424;
}

.copyright-reserved .copyright-text a:hover {
	color: #e7ab3c;
}

.copyright-reserved .payment-pic {
	float: right;
}

.back-to-top{
	position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
	background-color: var(--primary-color);
	border: var(--primary-color);
}


.back-to-top:hover{
	opacity: 0.7;
	background-color: var(--primary-color);
}

.back-to-top i{
	padding: 10px 0;
	font-size: 2rem;
}

